/* General styles */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: orangered;
}

section h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-size: 2em;
}


header, section {
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 50px;
    padding:10px;
}

/* Header */

#main-header {
    text-align: center;
    background-image: url(../img/laptop.jpg);
    background-size: cover;
    color: white;
    overflow: hidden;
}

#main-header h1 {
    font-size: 4em;
}

#main-header p {
    font-variant: small-caps;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;

}

#location {
    width: 250px;
    background-color: white;
    color: black;
    position: absolute;
    bottom: 0;
    right: 30px;
}


#location p {
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}


/* Navigation */

#main-navigation {
    list-style-type: none;
    padding-left: 20px;
    padding-top: 15px;

}

#main-navigation a {
    font-weight: bold;
    padding: 5px 20px;
    border: 1px solid white;

}

#main-navigation li{
    display: inline-block;

}

.apply {
    background-color: orangered;
    color: white;
}


/* FAQ */

#faq {
    background-color: aliceblue;
}

.faq-list {
    display: inline-block;
}


#faq p {
    line-height: 1.5;
}

#faq .question {
    font-weight:bold;
}

#faq .answer {
    font-style: italic;
}

/* Curriculum */

#curriculum {
    background-color: black;
    color: white;

}

#curriculum ol {
    background-color: darkgrey;
    color: black;
    width: 50%;
}

/* Instructor */

#instructor {
    background-color: lightgray;
}

#instructor a{
    text-decoration: underline
}

#instructor article {
    border: 1px dashed black;
}

