/*********************
GENERAL STYLES
**********************/

a {
    text-decoration: none;
    color: orangered;
}
section h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-size: 2em;
}
header, section {
    overflow: hidden;
}




/*********************
HEADER
**********************/

#main-header {
    text-align: center;
    background-image: url(../img/laptop.jpg);
    background-size: cover;
    color: white;
    padding: 150px 0;
    position: relative;
}
#main-header h1 {
    font-size: 4em;
}
#main-header p.tagline {
    font-variant: small-caps;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}
#main-header p.course-location {
    position: absolute;
    bottom: 0;
    right: 50px;
    margin: 0;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 10px;
}


/*********************
NAVIGATION
**********************/

#main-navigation {
    position: fixed;
    top:0;
    left: 0;
    background-color: black;
    width: 100%;
}
#main-navigation ul {
    list-style-type: none;
}
#main-navigation li {
    display: inline-block;
}
#main-navigation a {
    font-weight: bold;
    display: inline-block;
    padding: 0.5em 1.5em;
    border: 1px solid white;
}
#main-navigation li.apply-now a {
    background-color: orangered;
    color: #fff;
}



/*********************
FAQ
**********************/

#faq {
    background-color: aliceblue;

}

.faq-list {
    list-style: none;
    text-align: center;
}

.faq-list li {
    float: left;
    width: 25%;
}


#faq p {
    line-height: 1.5;
}

#faq .question {
    font-weight:bold;
}

#faq .answer {
    font-style: italic;
}


/*********************
CURRICULUM
**********************/

#curriculum {
    background-color: black;
}
#curriculum h2 {
    color: white;
}
.curriculum-list {
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: rgba(255,255,255, 0.5);
    list-style-position: inside;
}
.curriculum-list > li {
    border-bottom: 1px dashed black;
    padding: 10px 0;
}



/*********************
INSTRUCTOR
**********************/


#instructor {
    background-color: lightgray;
}


#instructor a{
    text-decoration: underline
}

#instructor article {
    text-align: center;
    margin-bottom: 30px;
}

#instructor .article-image, #instructor .article-text {
    display: inline-block;
}

#instructor .article-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

#instructor .article-text {
    max-width: 500px;
    text-align: left;
}

